.btn-hover-display {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.35);
  text-align: center;
  line-height: 300px;
}

.btn-mg{
  margin: 12px;
}
