<div class="row row-cols-1 row-cols-md-3 m-auto container" >
  <div class="col mb-2 mt-2 " *ngFor="let service of services">
    <div class="card highlight bg-light">
        <img src="{{service.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{service.ten}}</h5>
          <p class="card-text">Diện tích: {{service.dien_tich}} m&#178;</p>
          <a href="#">Xem thêm</a>
        </div>
        <div class="btn-hover-display">
          <a href="#" class="btn btn-outline-light btn-mg">Update</a>
          <a href="#" class="btn btn-outline-light btn-mg">Delete</a>
        </div>
    </div>
  </div>
</div>

