<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse container" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item  highlight-nav">
        <a class="nav-link" href="#">GIỚI THIỆU</a>
      </li>
      <li class="nav-item highlight-nav">
        <a class="nav-link" href="#">LOẠI PHÒNG</a>
      </li>
      <li class="nav-item highlight-nav">
        <a class="nav-link" href="#">ẨM THỰC</a>
      </li>
      <li class="nav-item highlight-nav">
        <a class="nav-link" href="#">HỘI NGHỊ VÀ SỰ KIỆN</a>
      </li>
      <li class="nav-item highlight-nav">
        <a class="nav-link" href="#">SPA</a>
      </li>
      <li class="nav-item highlight-nav">
        <a class="nav-link" href="#">GIẢI TRÍ</a>
      </li>
      <li class="nav-item highlight-nav">
        <a class="nav-link" href="#">ĐIỂM ĐẾN</a>
      </li>
      <li class="nav-item highlight-nav">
        <a class="nav-link" href="#">ƯU ĐÃI</a>
      </li>
    </ul>
  </div>
</nav>
