<div class="container">
  <h2>Register User</h2>
  <form [formGroup]="userForm" (ngSubmit)="submit()" novalidate>
    <div class="form-group">
      <label for="id">ID</label>
      <input type="number" class="form-control" id="id" aria-describedby="emailHelp" name="id" formControlName="id">
      <label class="ms-err" *ngIf="!userForm.controls.id?.valid && (userForm.controls.id?.dirty
              ||userForm.controls.id?.touched)">*Bắt buộc</label>
    </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  name="email" formControlName="email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      <label class="ms-err" *ngIf="!userForm.controls.email?.valid && (userForm.controls.email?.dirty
              ||userForm.controls.email?.touched)">*Bắt buộc</label>
    </div>
    <div class="form-group">
      <label for="password">password</label>
      <input type="password" class="form-control" id="password" aria-describedby="emailHelp" name="password" formControlName="password">
      <label class="ms-err" *ngIf="!userForm.controls.password?.valid && (userForm.controls.password?.dirty
              ||userForm.controls.password?.touched)">*Bắt buộc</label>
    </div>
    <div class="form-group">
      <label for="country">country</label>
      <input type="text" class="form-control" id="country" aria-describedby="emailHelp" name="country"  formControlName="country">
      <label class="ms-err" *ngIf="!userForm.controls.country?.valid && (userForm.controls.country?.dirty
              ||userForm.controls.country?.touched)">*Bắt buộc</label>
    </div>
    <div class="form-group">
      <label for="age">age</label>
      <input type="number" class="form-control" id="age" name="age" formControlName="age">
      <label class="ms-err" *ngIf="!userForm.controls.age?.valid && (userForm.controls.age?.dirty
              ||userForm.controls.age?.touched)"> *bắt buộc
      </label>
    </div>
    <div class="form-group">
      <label class="form-check-label" for="exampleRadios1">Gender</label>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="true" name="gender"  formControlName="gender">
        <label class="form-check-label" for="exampleRadios1">Female</label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" checked value="false" name="gender" formControlName="gender">
        <label class="form-check-label" for="exampleRadios1">Male</label>
      </div>
    </div>
    <div class="form-group">
      <label for="phone">phone</label>
      <input type="text" class="form-control" id="phone" name="phone"  formControlName="phone">
      <label class="ms-err" *ngIf="!userForm.controls.phone?.valid && (userForm.controls.country?.dirty
              ||userForm.controls.phone?.touched)">*Bắt buộc</label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!userForm.valid">Submit</button>
  </form>
</div>
<br>
